logs/
npm-debug.log
yarn-error.log
node_modules/
*-lock.json
*-lock.yaml
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
uploads/*

.nyc_output/

typings/app
typings/config

.env
app/**/*.js
config/**/*.js 
test/**/*.js 
app/**/*.map
config/**/*.map 
test/**/*.map 

.docker-volumes

